* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The issue that caused me to have issue with centering the body elements in the center of the page was
/* that my body did not take up the entire page. Also the contents of the form belong in the body and not the container
/* class. So add css to the body not the container class */

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* defualt alignment within flexbox or container */
    height: 100vh;
}